@font-face {
    font-family: "ProximaNove";
    src: url('../fonts/proxima-nova-bold-591e16f880cd1.otf') format("truetype");
}
header{
	background-color: #252525;
	padding-top: 12px;
    padding-bottom: 12px;
}
.logo-img{
	width: 310px;
	height: 105px;
}
.upper-nav{
	display: inline-flex;
    list-style: none;
    float: right;
}
.upper-nav li{
	font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 200;
	padding-left: 50px;
}
.lower-nav{
	display: inline-flex;
    list-style: none;
    float: right;
}
.lower-nav li{
	font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 200;
	padding-left: 50px;
}
.signin-link{
	padding-right: 18px;
}
.signup-link{
	padding-left: 18px;
	border-left: 1px solid;
}
.search-form{
	margin-bottom: -45px;
}
.search-field-area{
	overflow: hidden;
	height: 0px;
	transition: all 1s;
}
.search-field{
	background: #FFF;
    border: 1px solid #FFF;
    padding: 8px 20px;
    color: #000;
    width: 320px;
	margin-left: -305px;
}
.nav-btn{
	float: right;
    font-size: 30px;
    margin: 22px 0px 0px 0px;
    background: none;
    border: 1px solid;
	display: none;
}
footer{
	background-color: #202427;
	padding-bottom: 20px;
    padding-top: 20px;
}
.footer-nav-area{
	border-right: 2px solid;
}
.footer-nav-area-last{
	border-left: 2px solid;
}
.footer-nav-heading{
	font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "proxima-nova", sans-serif, sans-serif;
	margin-bottom: 12px;
}
.footer-nav{
	list-style: none;
	text-transform: none;
}
.footer-nav li{
	color: #7d7d7d;
    font-size: 16px;
    font-family: "proxima-nova", sans-serif, sans-serif;
	padding-bottom: 8px;
}
.copyright{
	border-top: 2px solid rgba(212, 217, 220, 0.1);
	padding-top: 20px;
    margin-top: 40px;
	text-transform: none;
}
.copyright-para{
	color: #555555;
    font-size: 15px;
    font-family: "proxima-nova", sans-serif, sans-serif;
	padding-top: 10px;
}
.follow-list{
	display: inline-flex;
	float: right;
}
.follow-list li{
	color: #555555;
    display: block;
    height: 45px;
    width: 45px;
    border: 2px solid rgba(78, 88, 93, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
	margin-left: 10px;
}

