/*
	Table of Contents
	update on Tue Sep 29 2015 12:14:39 GMT+0300 (FLE Summer Time)

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Fonts ------------------------------------
	     03. Base -------------------------------------
	     04. Helpers ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Disabled ---------------------------------
	II.  Regions --------------------------------------
	     01. Wrapper ----------------------------------
	     02. Container --------------------------------
	     03. Shell ------------------------------------
	     04. Header -----------------------------------
	     05. Main -------------------------------------
	     06. Footer -----------------------------------
	     07. Content ----------------------------------
	     08. Sidebar ----------------------------------
	III. Themes ---------------------------------------
	     01. Magnific Popup ---------------------------
	IV.  Modules --------------------------------------
	     01. Article ----------------------------------
	     02. Box --------------------------------------
	     03. Box Sell ---------------------------------
	     04. Button -----------------------------------
	     05. Button Menu ------------------------------
	     06. Category Tile ----------------------------
	     07. Contact ----------------------------------
	     08. Copyright --------------------------------
	     09. Form Elements ----------------------------
	     10. Form -------------------------------------
	     11. Form Signup ------------------------------
	     12. Fullsize Image ---------------------------
	     13. Intro ------------------------------------
	     14. List -------------------------------------
	     15. List Steps -------------------------------
	     16. Logo -------------------------------------
	     17. Nav Utilities ----------------------------
	     18. Nav Mobile -------------------------------
	     19. Overlay ----------------------------------
	     20. Page -------------------------------------
	     21. Popup ------------------------------------
	     22. Product Compact --------------------------
	     23. Search -----------------------------------
	     24. Section ----------------------------------
	     25. Section Articles -------------------------
	     26. Section Socials --------------------------
	     27. Section Upcoming -------------------------
	     28. Section Sell -----------------------------
	     29. Section Advantage ------------------------
	     30. Section Testimonials ---------------------
	     31. Slider -----------------------------------
	     32. Slider Upcoming --------------------------
	     33. Slider Featured --------------------------
	     34. Slider Popular ---------------------------
	     35. Slider testimonials ----------------------
	     36. Socials ----------------------------------
	     37. Table ------------------------------------
	     38. Testimonial ------------------------------
	     39. Upcoming ---------------------------------
	     40. Widget -----------------------------------
 */

.cols:after,
.footer-body .shell:after,
.form-cols:after,
.form-signup .form-row:after,
.section-socials .shell:after { content: ''; display: table; clear: both; line-height: 0; }

.check { background-image: url(images/sprite.png); background-position: -218px -60px; width: 13px; height: 16px; display: inline-block; vertical-align: middle; font-size: 0; }
.chevron-down-red { background-image: url(images/sprite.png); background-position: -251px -60px; width: 9px; height: 6px; display: inline-block; vertical-align: middle; font-size: 0; }
.chevron-right-red { background-image: url(images/sprite.png); background-position: -262px -93px; width: 6px; height: 9px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-clock { background-image: url(images/sprite.png); background-position: -235px -60px; width: 12px; height: 12px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-dollar { background-image: url(images/sprite.png); background-position: -200px -93px; width: 29px; height: 43px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-facebook { background-image: url(images/sprite.png); background-position: 0 -93px; width: 46px; height: 46px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-linkedin { background-image: url(images/sprite.png); background-position: -50px -93px; width: 46px; height: 46px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-magnify-dark { background-image: url(images/sprite.png); background-position: -176px -60px; width: 18px; height: 18px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-magnify-white { background-image: url(images/sprite.png); background-position: -154px -60px; width: 18px; height: 18px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-next { background-image: url(images/sprite.png); background-position: 0 -143px; width: 21px; height: 36px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-play { background-image: url(images/sprite.png); background-position: -233px -93px; width: 25px; height: 32px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-prev { background-image: url(images/sprite.png); background-position: -25px -143px; width: 21px; height: 36px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-truck { background-image: url(images/sprite.png); background-position: -98px -60px; width: 52px; height: 29px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter { background-image: url(images/sprite.png); background-position: -150px -93px; width: 46px; height: 46px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-user { background-image: url(images/sprite.png); background-position: -198px -60px; width: 16px; height: 16px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-youtube { background-image: url(images/sprite.png); background-position: -100px -93px; width: 46px; height: 46px; display: inline-block; vertical-align: middle; font-size: 0; }
.logo-image-dark { background-image: url(images/sprite.png); background-position: -98px -30px; width: 250px; height: 26px; display: inline-block; vertical-align: middle; font-size: 0; }
.logo-image-white { background-image: url(images/sprite.png); background-position: -98px 0; width: 250px; height: 26px; display: inline-block; vertical-align: middle; font-size: 0; }
.quote { background-image: url(images/sprite.png); background-position: 0 0; width: 94px; height: 89px; display: inline-block; vertical-align: middle; font-size: 0; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.check { background-image: url(images/sprite.@2x.png); background-position: -123px -78px; background-size: 144px 94px; width: 13px; height: 16px; display: inline-block; vertical-align: middle; font-size: 0; }
	.chevron-down-red { background-image: url(images/sprite.@2x.png); background-position: -110px -72px; background-size: 144px 94px; width: 9px; height: 6px; display: inline-block; vertical-align: middle; font-size: 0; }
	.chevron-right-red { background-image: url(images/sprite.@2x.png); background-position: -138px -78px; background-size: 144px 94px; width: 6px; height: 9px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-clock { background-image: url(images/sprite.@2x.png); background-position: -96px -72px; background-size: 144px 94px; width: 12px; height: 12px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-facebook { background-image: url(images/sprite.@2x.png); background-position: 0 -48px; background-size: 144px 94px; width: 46px; height: 46px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-linkedin { background-image: url(images/sprite.@2x.png); background-position: -48px -48px; background-size: 144px 94px; width: 46px; height: 46px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-magnify-dark { background-image: url(images/sprite.@2x.png); background-position: -123px -58px; background-size: 144px 94px; width: 18px; height: 18px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-magnify-white { background-image: url(images/sprite.@2x.png); background-position: -123px -38px; background-size: 144px 94px; width: 18px; height: 18px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-next { background-image: url(images/sprite.@2x.png); background-position: -123px 0; background-size: 144px 94px; width: 21px; height: 36px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-play { background-image: url(images/sprite.@2x.png); background-position: -96px 0; background-size: 144px 94px; width: 25px; height: 32px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-prev { background-image: url(images/sprite.@2x.png); background-position: -96px -34px; background-size: 144px 94px; width: 21px; height: 36px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-twitter { background-image: url(images/sprite.@2x.png); background-position: -48px 0; background-size: 144px 94px; width: 46px; height: 46px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-youtube { background-image: url(images/sprite.@2x.png); background-position: 0 0; background-size: 144px 94px; width: 46px; height: 46px; display: inline-block; vertical-align: middle; font-size: 0; }
}

/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main { display: block; }

html,
body { height: 100%; }

html { tap-highlight-color: rgba(0,0,0,0); }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

img, iframe, video, audio, object { max-width: 100%; }

img { height: auto; display: inline-block; vertical-align: middle; }

b,
strong { font-weight: bold; }

address { font-style: normal; }

svg:not(:root) { overflow: hidden; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { display: none; -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; resize: none; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

button,
select { text-transform: none; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */


@font-face {
    font-family: "proxima-nova";
    font-weight: 200;
    src: url("../css/fonts/Proxima-Nova-Light.otf");
}

@font-face {
    font-family: "proxima-nova";
    font-weight: 400;
    src: url("../css/fonts/Proxima-Nova-Regular.otf");
}

@font-face {
    font-family: "proxima-nova";
    font-weight: 600;
    src: url("../css/fonts/Proxima-Nova-Semibold.otf");
}

@font-face {
    font-family: "proxima-nova";
    font-weight: 800;
    src: url("../css/fonts/Proxima-Nova-Bold.otf");
}

@font-face {
    font-family: "proxima-nova";
    font-weight: 900;
    src: url("../css/fonts/Proxima-Nova-Black.otf");
}

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background: #fff;   font-family: "proxima-nova", sans-serif, sans-serif; font-size: 16px; line-height: 1.88; color: #333; }

a { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }

a[href^="tel"] { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.94em; line-height: 1.1; margin-top: 0; }

h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }


p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.88em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

@media (max-width: 767px) {
	body { font-size: 14px; }
}

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/*  Clear  */

.clear:after { content: ''; line-height: 0; display: table; clear: both; }


/*  Notext  */

.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }


/*  Hidden  */

[hidden],
.hidden { display: none; }


/*  Alignleft  */

.alignleft { float: left; }

/*  Alignright  */

.alignright { float: right; }

/*  Disabled  */

[disabled],
.disabled { cursor: default; }

.mobile-show { display: none; }
.tablet-show { display: none; }

@media (max-width: 1023px) {
	.tablet-hide { display: none; }
	.tablet-show { display: block; }
}

@media (max-width: 767px) {
	.mobile-show { display: block; }
	.mobile-hide { display: none; }
}

/* table grid */
.table-grid { display: table; width: 100%; }
.table-grid .table-grid-item { display: table-cell; vertical-align: middle; }
.table-grid .table-grid-item-fixed { width: 1px; }

/* cols */
.cols { margin: 0 -15px; }
.cols:after { }
.col { float: left; padding: 0 15px; }
.col-1of2 { width: 50%; }

@media (max-width: 1023px) {
	.col-tablet-1of1 { width: 100%; }
}

/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {}

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container {}

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { max-width: none; padding: 0 25px; margin: auto; }

@media (max-width: 1023px) {
	.shell { padding: 0 35px; }
}

@media (max-width: 767px) {
	.shell { padding: 0 20px; }
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { position: fixed; top: 0; left: 0; min-width: 320px; width: 100%; z-index: 100; }
.header .show-if-fixed { display: none; }

@media (max-width: 767px) {
	.header { background: #fff; }
	.header .show-if-fixed { display: inline-block; }
	.header .hide-if-fixed { display: none; }
}

/* header bar */
.header-bar { background: url(images/pattern.png) 0 0 repeat; color: #fff; box-shadow: 0 2px 3px rgba(0,0,0, .25); }
.header-bar .header-bar-inner { overflow: hidden; height: 30px; padding-top: 9px; }
.header-bar .header-bar-left { float: left; }
.header-bar .header-bar-right { float: right; }

@media (max-width: 767px) {
	.header-bar { display: none; }
}

/* header body */
.header-body { color: #fff; }
.header-body .header-body-inner { position: relative; height: 85px; text-align: center; }
.header-body .header-body-left { position: absolute; top: 32px; left: 0; }
.header-body .header-body-center { display: inline-block; padding-top: 18px; }
.header-body .header-body-right { position: absolute; top: 25px; right: 0; }

@media (max-width: 1023px) {
	.header-body .header-body-right { top: 28px; }
	.header-body .header-body-center .header-links { position: relative; top: 7px; text-align: left; }
}

@media (max-width: 767px) {
	.header-body .header-body-inner { height: 44px; padding-top: 12px; }
	.header-body .header-body-right,
	.header-body .header-body-center { display: none; }
	.header-body .header-body-left { display: inline-block; position: static; }
}

/* header links */
.header-links { display: inline-block; vertical-align: middle; font-size: 14px; text-transform: uppercase; letter-spacing: .1em; font-weight: bold; }
.header-links a:hover { color: #e91312; text-decoration: none; }
.header-links small { font-size: 12px; }

@media (max-width: 1023px) {
	.header-links { font-size: 12px; line-height: 1.2; }
}

/* header fixed */
.header-fixed { box-shadow: 0 2px 3px rgba(0,0,0, .25); }
.header-fixed .header-body { background: #fff; color: #333; }
.header-fixed .search { border-bottom-color: #333; }
.header-fixed .show-if-fixed { display: inline-block; }
.header-fixed .hide-if-fixed { display: none; }

/* header mobile actions */
.header-mobile-actions { display: none; }

@media (max-width: 767px) {
	.header-mobile-actions { display: block; position: absolute; top: 50%; font-size: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
	.header-mobile-actions-left { left: 0; margin-top: -5px; }
	.header-mobile-actions-right { right: 0; }
}

.header-bar-inner a:hover {
	color: white;
}

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main { padding-top: 170px; }
.main-inner { position: relative; padding-left: 280px; }

@media (max-width: 1023px) {
	.main-inner { padding-left: 0; }
}

@media (max-width: 767px) {
	.main { padding-top: 100px; }
}

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {}
.footer .shell { position: relative; }

/* footer top */
.footer-top { background: url(images/pattern.png) 0 0 repeat; color: #fff; }

/* footer body */
.footer-body { padding: 36px 0 50px; background: #272727; color: #fff; }
.footer-body .shell:after { }

.footer-logo { display: inline-block; float: left; }
.footer-cols { float: right; padding-top: 5px; }
.footer-col { float: left; white-space: nowrap; padding-left: 40px; }

.footer-title { padding-bottom: 15px; text-transform: uppercase; }

.footer-nav { font-size: 12px; line-height: 1.5; text-transform: uppercase; }
.footer-nav ul { list-style: none outside none; }
.footer-nav a { opacity: .6; }
.footer-nav a:hover { text-decoration: none; opacity: 1; }

.footer-inner { position: absolute; bottom: 0; left: 25px; }

.footer-links { padding-bottom: 2px; font-size: 12px; text-transform: uppercase; }
.footer-links a { opacity: .6; }
.footer-links .separator { padding: 0 20px; opacity: .1; }
.footer-links a:hover { opacity: 1; text-decoration: none; }

@media (max-width: 1023px) {
	.footer-body { text-align: center; }

	.footer-logo { float: none; }

	.footer-cols { float: none; padding: 33px 0 30px; }
	.footer-cols-inner { display: inline-block; text-align: left; }
	.footer-col { padding: 0 10px; }

	.footer-inner { position: static; }
}

@media (max-width: 767px) {
	.footer-cols { padding-bottom: 10px; }
	.footer-cols .footer-col { width: 50%; padding-bottom: 20px; }

	.footer-links { font-size: 9px; }
}

.footer a:hover {
	color: white;
}

/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content { padding: 0 25px 0 60px; }

@media (max-width: 1023px) {
	.content { padding: 0; }
}

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar { position: absolute; top: 0; left: 0; width: 280px; height: 100%; padding: 30px 0 0 25px; border-right: 1px solid #c4c4c4; background: #f9f9f9; }

@media (max-width: 1023px) {
	.sidebar { padding: 0 25px; border-bottom: 1px solid #c4c4c4; }
	.sidebar { position: static; width: auto; }
}

/* ------------------------------------------------------------ *\
	III. Themes
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Magnific Popup
\* ------------------------------------------------------------ */

.mfp-bg { opacity: .2; }

/* ------------------------------------------------------------ *\
	IV.  Modules
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

/*.article .article-title { margin-bottom: 30px; font-size: 30px; text-transform: uppercase; letter-spacing: .1em; }
.article .article-entry p { margin-bottom: 50px; }

@media (max-width: 1023px) {
	.article .article-entry p { margin-bottom: 35px; }
}

@media (max-width: 767px) {
	.article .article-title { margin-bottom: 20px; font-size: 20px; }
	.article .article-entry { line-height: 1.43; }
	.article .article-entry p { margin-bottom: 40px; }
	.article .article-actions .btn { min-width: 0; width: 100%; }
}*/

/* ------------------------------------------------------------ *\
	Box
\* ------------------------------------------------------------ */

/*.box { border: 1px solid #d8d8d8; background: #f9f9f9; box-shadow: 0 2px 3px rgba(0,0,0, .15); }*/

/* ------------------------------------------------------------ *\
	Box Sell
\* ------------------------------------------------------------ */

/*.box-sell { padding: 58px 30px 72px; }
.box-sell .box-title { margin-bottom: 50px; text-align: center; text-transform: uppercase; letter-spacing: .1em; }
.box-sell .box-entry { margin-bottom: 60px; font-weight: 300; }
.box-sell .box-actions { text-align: center; }
.box-sell .box-actions .btn { min-width: 290px; }

@media (max-width: 767px) {
	.box-sell { padding: 25px 18px 33px; }
	.box-sell .box-title { margin-bottom: 17px; font-size: 20px; }
	.box-sell .box-actions .btn { min-width: 0; width: 100%; }
	.box-sell .box-entry { margin-bottom: 50px; }
}*/

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

/*row:not(.listing-detail) .btn { display: inline-block; vertical-align: middle; min-width: 330px; padding: 10px 10px; border: 0; border-radius: 0; background: #e91312; font-size: 18px; font-weight: bold; line-height: 1.1; color: #fff; text-transform: uppercase; letter-spacing: 0.1em; box-shadow: 0 3px 5px rgba(0,0,0, .35); text-align: center;
	-webkit-appearance: none;
	   -moz-appearance: none;
	   		appearance: none;
}
row:not(.listing-detail) .btn:hover { background: #fe201f; text-decoration: none; }

.btn-transparent { border: 2px solid #e91312; background: transparent; color: #3b3b3b; box-shadow: none; }

@media (max-width: 1023px) {
	row:not(.listing-detail) .btn { min-width: 280px; padding: 12px 10px 11px; font-size: 14px; }
}*/

.btn-grey {
	padding: 5px 10px;
	background: #eeeeee;
	border-color: #b7b7b7;
}

/* ------------------------------------------------------------ *\
	Button Menu
\* ------------------------------------------------------------ */

.btn-menu { display: inline-block; height: 9px; padding-top: 9px; text-align: left; }
.btn-menu span { position: relative; display: block; width: 25px; height: 15px; border-top: 3px solid #000; }

.btn-menu span:before,
.btn-menu span:after { position: absolute; width: 100%; height: 3px; background: #000; content: ''; }

.btn-menu span:before { top: -9px; }
.btn-menu span:after { top: 3px; }

.btn-menu span:before,
.btn-menu span:after,
.btn-menu span {
    transition: all .3s linear;
 }

.btn-menu.active span { border-color: transparent; }
.btn-menu.active span:before,
.btn-menu.active span:after { background: #000; }

.btn-menu.active span:before {
-webkit-transform: rotate(45deg) translate(2.5px, 6px);
        -ms-transform: rotate(45deg) translate(2.5px, 6px);
    transform: rotate(45deg) translate(2.5px, 6px);

}
.btn-menu.active span:after {
-webkit-transform: rotate(-45deg) translate(2.5px, -6px);
        -ms-transform: rotate(-45deg) translate(2.5px, -6px);
    transform: rotate(-45deg) translate(2.5px, -6px);
}

/* ------------------------------------------------------------ *\
	Category Tile
\* ------------------------------------------------------------ */

.category-tile a { position: relative; display: block; }
/*.category-tile a:hover:before { content: ''; position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; border: 2px solid #e91312; }
.category-tile .category-image { background: #000; }
.category-tile .category-image img { width: 100%; opacity: .55; }
.category-tile .category-content { position: absolute; bottom: 0; left: 0; width: 100%; padding: 0 8px 11px; color: #fff; }
.category-tile .category-title { padding: 0 8px 5px; border-bottom: 3px solid #e91312; font-weight: normal; text-transform: uppercase; }

@media (max-width: 767px) {
	.category-tile .category-title { font-size: 9px; }
}*/

/* ------------------------------------------------------------ *\
	Contact
\* ------------------------------------------------------------ */

.contact { opacity: .6; font-size: 12px; line-height: 1.5; }

/* ------------------------------------------------------------ *\
	Copyright
\* ------------------------------------------------------------ */

.copyright { font-size: 12px; font-weight: 300; opacity: .6; text-transform: uppercase; }

@media (max-width: 767px) {
	.copyright { font-size: 9px; }
}

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

/*input::-webkit-input-placeholder { color: inherit; opacity: 1; }

input::-moz-placeholder { color: inherit; opacity: 1; }

input:-ms-input-placeholder { color: inherit; opacity: 1; }

input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea::-moz-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit !important; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

.form-row { padding-bottom: 10px; }

.field { width: 100%; height: 40px; padding: 0 15px; border: 2px solid #d8d8d8; font-size: 12px; font-weight: bold; }
.field:focus { border-color: #9d9d9d; color: #9d9d9d; }
.field-filled { border-color: #333; color: #333; }

.textarea {}

.select {}

.radio {}

.checkbox ~ .checkbox { padding-top: 3px; }
.checkbox input { position: absolute; z-index: -1; opacity: 0; }
.checkbox label { position: relative; display: inline-block; line-height: 1.1; font-size: 14px; font-weight: 300; color: #b1b1b1; }
.checkbox label strong { text-transform: uppercase; }
.checkbox label:before { content: ''; display: inline-block; vertical-align: middle; margin-right: 10px; width: 26px; height: 24px; border: 2px solid #d8d8d8; }
.checkbox label:after { content: ''; display: none; position: absolute; top: 4px; left: 5px; background-image: url(images/sprite.png); background-position: -218px -60px; width: 13px; height: 16px; }
.checkbox input:checked + label:after { display: block; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.checkbox label:after { background-image: url(images/sprite.@2x.png); background-position: -123px -78px; background-size: 144px 94px; }
}

.form-cols { margin: 0 -15px; }
.form-cols:after { }
.form-col { float: left; padding: 0 15px; }*/

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {}

/* ------------------------------------------------------------ *\
	Form Signup
\* ------------------------------------------------------------ */

/*.form-signup .form-head h1 { margin: 16px; font-size: 30px; color: #e91312; text-transform: uppercase; text-align: center; letter-spacing: .1em; }

.form-signup .form-body { padding-bottom: 25px; }

.form-signup .form-section { padding: 20px 0 10px; }
.form-signup .form-section ~ .form-section { border-top: 1px solid #d8d8d8; }
.form-signup .form-section-head { padding: 2px 0 20px; text-align: center; }
.form-signup .form-section-head h4 { text-transform: uppercase; letter-spacing: .1em; }

.form-signup .form-row:after { }

.form-signup .form-label { float: left; width: 185px; padding: 14px 10px 0 0; font-size: 12px; line-height: 1.2; font-weight: bold; text-transform: uppercase; letter-spacing: .1em; }
.form-signup .form-label-checkbox { padding-top: 8px; }
.form-signup .form-label-small { width: auto; }

.form-signup .form-controls { margin-left: 185px; }

.form-signup .form-payment-help { display: block; padding: 9px 0 0 25px; font-size: 18px; font-weight: bold; text-transform: uppercase; color: #b1b1b1; letter-spacing: .1em; }

.form-signup .field-small { width: 122px; vertical-align: middle; }

.form-signup .form-help-cards { padding-left: 15px; }

.form-signup .form-col-size-1 { width: 433px; }
.form-signup .form-col-size-2 { width: 205px; }
.form-signup .form-col-size-2 .form-controls { margin: 0; overflow: hidden; }

.form-signup .form-foot { text-align: center; }

.form-signup .form-actions .btn { padding: 13px 25px 12px; font-size: 14px; }

.form-signup .form-have-account { display: block; padding-top: 20px; text-transform: uppercase; font-size: 14px; font-weight: bold; letter-spacing: .1em; }
.form-signup .form-have-account a { color: #e91312; text-decoration: underline; }

.form-signup .form-note { padding-top: 23px; text-transform: uppercase; }
.form-signup .form-note strong { display: block; padding-bottom: 10px; font-size: 12px; font-weight: 300; }
.form-signup .form-note span { display: block; font-size: 10px; }
.form-signup .form-note a { text-decoration: underline; }

@media (max-width: 767px) {
	.form-signup .form-label { display: block; float: none; width: auto; padding: 0 0 5px; }
	.form-signup .form-controls { margin: 0; }
	.form-signup .form-col { width: 100%; }
}*/

/* ------------------------------------------------------------ *\
	Fullsize Image
\* ------------------------------------------------------------ */

.fullsize-image-holder { background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; }
.fullsize-image-holder > img { display: none; }

/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro { position: relative; height: 385px; background: #000; border-bottom: 5px solid #e91312; color: #fff; text-align: center; }
.intro .intro-image { position: absolute; top: 0; left: 0; width: 100%; height: 100%;  }
.intro .intro-content { position: absolute; z-index: 1; top: 50%; left: 0; width: 100%; padding-top: 60px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.intro .intro-title { margin-bottom: 1em; font-size: 48px; line-height: 1; text-transform: uppercase; letter-spacing: .1em; }
.intro .intro-title span { color: #e91312; }
.intro .intro-entry { margin-bottom: 44px; font-size: 20px; line-height: 1.2; font-weight: 300; }
.intro .btn { min-width: 290px; }

.intro-home { height: 555px; }

@media (max-width: 1023px) {
	.intro .intro-title { font-size: 32px; }

	.intro-home { height: 435px; }
}

@media (max-width: 767px) {
	.intro { height: 145px; }
	.intro .intro-title { margin-bottom: 43px; font-size: 20px; }
	.intro .intro-entry { font-size: 14px; }
	.intro .intro-actions { position: absolute; top: 100%; left: 0; width: 100%; padding: 15px 25px 0; }
	.intro .shell { padding: 0 10px; }
	.intro .btn { min-width: 0; width: 100%; }

	.intro-home { height: 227px; margin-bottom: 55px; }
}

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	List Steps
\* ------------------------------------------------------------ */

.list-steps { overflow: hidden; }
.list-steps li { float: left; width: 33.33%; text-align: center; }
.list-steps h4 { text-transform: uppercase; letter-spacing: .1em; color: #e9312c; }
.list-steps span { display: inline-block; width: 82px; height: 82px; border: 5px solid #e9312c; border-radius: 50%; line-height: 72px; text-align: center; }
.list-steps .ico-play { position: relative; left: 5px; }

@media (max-width: 1023px) {
	.list-steps h4 { min-height: 38px; }
}

@media (max-width: 767px) {
	.list-steps li { width: 100%; }
	.list-steps li + li { padding-top: 30px; }
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {}

@media (max-width: 1023px) {
	.logo { display: inline-block; width: 138px; height: 15px; }
	.logo i { -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scale(0.55); -ms-transform: scale(0.55); transform: scale(0.55); }
}

/* ------------------------------------------------------------ *\
	Nav Utilities
\* ------------------------------------------------------------ */

.nav-utilities { font-size: 12px; line-height: 1; text-transform: uppercase; }
.nav-utilities ul { overflow: hidden; list-style: none outside none; }
.nav-utilities li { float: left; }
.nav-utilities li + li { margin-left: 17px; }
.nav-utilities a { opacity: 1; }
.nav-utilities a:hover { opacity: .8; text-decoration: none; }

.nav-utilities-separators li + li { padding-left: 17px; margin-left: 17px; border-left: 1px solid rgba(255,255,255, .3); }

/* ------------------------------------------------------------ *\
	Nav Mobile
\* ------------------------------------------------------------ */

.nav-mobile { display: none; position: absolute; top: 100%; left: 0; width: 100%; border-bottom: 1px solid #ccc; background: #fff; font-size: 14px; text-align: center; text-transform: uppercase; }
.nav-mobile ul { list-style: none outside none; }
.nav-mobile li { border-top: 1px solid #ccc; }
.nav-mobile a { display: block; height: 56px; line-height: 56px; }

/* ------------------------------------------------------------ *\
	Overlay
\* ------------------------------------------------------------ */

.overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; background: #000; opacity: .4; }

/* ------------------------------------------------------------ *\
	Page
\* ------------------------------------------------------------ */

.page-menu-open .nav-mobile { display: block; }
.page-menu-open .overlay { display: block; }

/* ------------------------------------------------------------ *\
	Popup
\* ------------------------------------------------------------ */

.popup-signup { position: relative; width: 670px; padding: 33px 30px 10px; border: 1px solid #d8d8d8; margin: 0 auto; background: #fff; box-shadow: 3px 3px 10px rgba(0,0,0, .35); }

@media (max-width: 767px) {
	.popup-signup { width: auto; padding: 10px; }
}

/* ------------------------------------------------------------ *\
	Product Compact
\* ------------------------------------------------------------ */

/*.product-compact { width: 240px; }*/
.product-compact a { display: block; position: relative; }
.product-compact a:hover { text-decoration: none; box-shadow: 0 8px 10px rgba(0,0,0, .15); }
.product-compact a:hover:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 2px solid #e91312; }
.product-compact .product-content { padding: 17px 15px 13px; border: 1px solid #d8d8d8; }
.product-compact .product-label { position: absolute; top: 5px; left: 5px; right: 5px; padding: 6px 5px 7px; background: rgba(233,19,18, .9); color: #fff; text-align: center; font-size: 14px; font-weight: 300; }
.product-compact .product-title { margin-bottom: 10px; text-transform: uppercase; }
.product-compact .product-price { font-size: 24px; font-weight: 300; color: #aaa; }
.product-compact .product-image img { width: 100%; }

@media (max-width: 1300px) {
	.product-compact .product-label { font-size: 12px; }
}

/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search { position: relative; display: inline-block; vertical-align: middle; width: 375px; padding: 5px 0 4px 35px; border-bottom: 1px solid #fff; margin-left: 21px; text-align: left; }
.search label { position: absolute; top: 5px; left: 0; }
.search .search-field { width: 100%; border: 0; border-radius: 3px; background: transparent; font-weight: 300; line-height:normal; }

@media (max-width: 1300px) {
	.search { width: 265px; }
	.search .search-field { font-size: 11px; }
}

@media (max-width: 1023px) {
	.search { width: 310px; }
	.search .search-field { font-size: 14px; }
}

@media (max-width: 767px) {
	.search-outer { height: 40px; padding-top: 5px; border-top: 1px solid #909090; background: #e7e7e7; }
	.search { width: 100%; margin: 0; padding: 0 0 0 23px; border-color: #000; }
	.search .search-field { font-size: 12px; }
	.search label { -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
}

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section { padding: 70px 0 53px; border-bottom: 1px solid #d8d8d8; }
.section-first { padding-top: 50px; }
.section .section-head { position: relative; padding-bottom: 35px; text-align: center; }
.section .section-title { text-transform: uppercase; letter-spacing: .1em; }
.section .section-actions { position: absolute; top: 6px; text-transform: uppercase; letter-spacing: .1em; }
.section .section-actions a { font-size: 12px; color: #e91312; }
.section .section-actions a:hover { text-decoration: none; }
.section .section-actions a i { position: relative; top: -2px; }
.section .section-actions-left { left: 0; }
.section .section-actions-right { right: 0; }

@media (max-width: 767px) {
	.section { padding: 32px 0 30px; }
	.section-first { padding-top: 25px; }
	.section .section-head { padding-bottom: 28px; }
	.section .section-title { font-size: 18px; }
	.section .section-actions { display: none; }
}

/* ------------------------------------------------------------ *\
	Section Articles
\* ------------------------------------------------------------ */

.section-articles { padding: 12px 0 55px; }
.section-articles .section-inner { padding: 56px 0 57px; }
.section-articles .section-inner ~ .section-inner { border-top: 1px solid #d8d8d8; }
.section-articles .article { max-width: 673px;  }

@media (max-width: 1023px) {
	.section-articles { padding-bottom: 0; }
	.section-articles .section-inner { padding: 55px 25px 80px; }
	.section-articles .article { max-width: none; }
	.section-articles .section-inner:first-child { padding-top: 6px; }
}

@media (max-width: 767px) {
	.section-articles .section-inner { padding-bottom: 50px; }
}

/* ------------------------------------------------------------ *\
	Section Socials
\* ------------------------------------------------------------ */

.section-socials { padding: 25px 0; text-transform: uppercase; }
.section-socials .shell:after { }
.section-socials .section-head,
.section-socials .section-body { float: left; width: 50%; text-align: center; font-size: 0; }
.section-socials .section-body { white-space: nowrap; }
.section-socials .section-title { margin-bottom: 4px; letter-spacing: .05em; }
.section-socials .section-subtitle { color: #e91312; letter-spacing: .05em; }
.section-socials .section-actions a { display: inline-block; min-width: 225px; height: 40px; border: 2px solid #e91312; background: rgba(0,0,0, .6); font-size: 14px; line-height: 36px; color: #fff; text-transform: uppercase; font-weight: bold; text-align: center; }
.section-socials .section-actions a:hover { text-decoration: none; }
.section-socials .socials,
.section-socials .section-actions { display: inline-block; vertical-align: middle; padding: 0 22px; }

@media (max-width: 1300px) {
	.section-socials .socials,
	.section-socials .section-actions { padding: 0 5px; }
	.section-socials .section-actions a { min-width: 165px; }
}

@media (max-width: 1023px) {
	.section-socials { padding: 37px 0 45px; }
	.section-socials .section-head,
	.section-socials .section-body { float: none; width: auto; }
	.section-socials .section-head { padding-bottom: 30px; }

	.section-socials .section-title { font-size: 21px; }
	.section-socials .section-subtitle { font-size: 16px; }

	.section-socials .socials,
	.section-socials .section-actions { padding: 0 25px; }

	.section-socials .section-actions a { min-width: 225px; }
}

@media (max-width: 767px) {
	.section-socials .socials { display: block; padding: 0 0 30px; }
	.section-socials .section-actions { display: block; padding: 0; }
}

/* ------------------------------------------------------------ *\
	Section Upcoming
\* ------------------------------------------------------------ */

@media (max-width: 767px) {
	.section-upcoming .shell { padding: 0; }
}

/* ------------------------------------------------------------ *\
	Section Sell
\* ------------------------------------------------------------ */

.section-sell { padding: 93px 0 100px; }

@media (max-width: 1023px) {
	.section-sell .col ~ .col { margin-top: 15px; }
	.section-sell .eq-item { height: auto !important; }
}

@media (max-width: 767px) {
	.section-sell { padding: 20px 0 55px; }
}

/* ------------------------------------------------------------ *\
	Section Advantage
\* ------------------------------------------------------------ */

.section-advantage { position: relative; padding: 60px 0 55px; color: #fff; }
.section-advantage .section-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%;  }
.section-advantage .section-body { position: relative; z-index: 1; }
.section-advantage .section-title { margin-bottom: 44px; text-align: center; color: #e9312c; text-transform: uppercase; letter-spacing: .1em; }
.section-advantage .section-entry { max-width: 670px; margin: 0 auto 35px; line-height: 1.38; font-weight: 300; }
.section-advantage .section-entry p { margin-bottom: 1.38em; }

@media (max-width: 767px) {
	.section-advantage { padding: 50px 0 20px; }
	.section-advantage .section-title { font-size: 20px; }
}

/* ------------------------------------------------------------ *\
	Section Testimonials
\* ------------------------------------------------------------ */

.section-testimonials { padding: 76px 0 100px; }
.section-testimonials .section-head { padding-bottom: 3px; text-align: center; }
.section-testimonials .section-title { text-transform: uppercase; letter-spacing: .1em; }
.section-testimonials .box { padding: 70px 0 64px; }

@media (max-width: 1023px) {
	.section-testimonials .shell { padding: 0; }
	.section-testimonials .box { padding: 70px 25px 64px; }
}

@media (max-width: 767px) {
	.section-testimonials { padding: 40px 0 60px; }
	.section-testimonials .section-title { font-size: 20px; }
	.section-testimonials .box { padding: 40px 25px 35px; }
}

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider { position: relative; text-align: center; }
.slider .slide { text-align: left; }

.slider .slides { list-style: none outside none; }

.slider .owl-carousel .owl-controls .owl-nav .owl-prev,
.slider .owl-carousel .owl-controls .owl-nav .owl-next { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); font-size: 0; }
.slider .owl-carousel .owl-controls .owl-nav .owl-prev { left: -13px; background-image: url(images/sprite.png); background-position: -25px -143px; width: 21px; height: 36px; }
.slider .owl-carousel .owl-controls .owl-nav .owl-next { right: -13px; background-image: url(images/sprite.png); background-position: 0 -143px; width: 21px; height: 36px; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.slider .owl-carousel .owl-controls .owl-nav .owl-prev { background-image: url(images/sprite.@2x.png); background-position: -96px -34px; background-size: 144px 94px; }
	.slider .owl-carousel .owl-controls .owl-nav .owl-next { background-image: url(images/sprite.@2x.png); background-position: -123px 0; background-size: 144px 94px; }
}

@media (max-width: 767px) {
	.slider .owl-controls { position: relative; display: inline-block; padding: 0 15px; text-align: center; font-size: 0; }
	.slider .owl-dots { display: inline-block; vertical-align: middle; }
	.slider .owl-dot { display: inline-block; vertical-align: top; width: 12px; height: 12px; border-radius: 50%; margin: 0 10px; background: #ccc; }
	.slider .owl-dot:hover,
	.slider .owl-dot.active { background: #e62321; }

	.slider .owl-carousel .owl-controls .owl-nav .owl-prev,
	.slider .owl-carousel .owl-controls .owl-nav .owl-next { top: -7px; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }
}

/* ------------------------------------------------------------ *\
	Slider Upcoming
\* ------------------------------------------------------------ */

.slider-upcoming .slide { padding: 15px; }

@media (max-width: 767px) {
	.slider-upcoming .slide { padding: 0 12px 15px; }
}

/* ------------------------------------------------------------ *\
	Slider Featured
\* ------------------------------------------------------------ */

.slider-featured .slide { padding: 0 11px 20px; }

/* ------------------------------------------------------------ *\
	Slider Popular
\* ------------------------------------------------------------ */

.slider-popular .slide { padding: 0 11px 20px; }

/* ------------------------------------------------------------ *\
	Slider testimonials
\* ------------------------------------------------------------ */

.slider-testimonials .owl-carousel .owl-controls .owl-nav .owl-prev { left: 5%; }
.slider-testimonials .owl-carousel .owl-controls .owl-nav .owl-next { right: 5%; }

@media (max-width: 1300px) {
	.slider-testimonials .owl-carousel .owl-controls .owl-nav .owl-prev { left: 20px; }
	.slider-testimonials .owl-carousel .owl-controls .owl-nav .owl-next { right: 20px; }
}

@media (max-width: 1023px) {
	.slider-testimonials .owl-controls { display: none; }
}

/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials { }
.socials ul { list-style: none outside none; font-size: 0; text-align: center; }
.socials li { display: inline-block; vertical-align: top; padding: 0 17px; }

@media (max-width: 1300px) {
	.socials li { padding: 0 10px; }
}

@media (max-width: 1023px) {
	.socials li { padding: 0 20px; }
}

@media (max-width: 767px) {
	.socials li { padding: 0 10px; }
}

/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

.table {}

/* ------------------------------------------------------------ *\
	Testimonial
\* ------------------------------------------------------------ */

.testimonial { padding-top: 60px; max-width: 810px; margin: 0 auto; }
.testimonial .testimonial-entry { position: relative; font-size: 20px; line-height: 1.5; }
.testimonial .testimonial-entry:before { content: ''; position: absolute; top: -40px; left: -60px; background-image: url(images/sprite.png); background-position: 0 0; width: 94px; height: 89px; }
.testimonial .testimonial-author { line-height: 1.1; text-align: right; text-transform: uppercase; }
.testimonial .testimonial-author strong { display: block; font-size: 18px; color: #e9312c; }
.testimonial .testimonial-author span { display: block; font-size: 14px; color: #bdbdbd; font-weight: 300; }

@media (max-width: 1023px) {
	.testimonial .testimonial-entry:before { left: 0; }
}

@media (max-width: 767px) {
	.testimonial .testimonial-entry { font-size: 14px; }
	.testimonial .testimonial-author strong { font-size: 14px; }
}

/* ------------------------------------------------------------ *\
	Upcoming
\* ------------------------------------------------------------ */

.upcoming { border: 1px solid #d8d8d8; box-shadow: 0 2px 3px rgba(0,0,0, .15); }
.upcoming a { position: relative; display: block; padding: 25px 20px 22px 25px; }
.upcoming a:hover { text-decoration: none; }
.upcoming a:hover:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 2px solid #e91312; }
.upcoming .upcoming-title { margin-bottom: 30px; line-height: 1; text-transform: uppercase; }
.upcoming .upcoming-entry { font-size: 14px; line-height: 1.43; color: #aaa; font-weight: 300; text-align: left; }
.upcoming .upcoming-date { color: #e91312; text-transform: uppercase; }
.upcoming img { max-width: none; }
.upcoming .table-grid { padding-top: 10px; }
.upcoming .table-grid-item ~ .table-grid-item { padding-left: 20px; }

.upcoming-secondary { text-align: center; }
.upcoming-secondary .upcoming-title { margin-bottom: 20px; }
.upcoming-secondary .upcoming-date { margin-bottom: 14px; }

.upcoming-tertiary .upcoming-title { margin-bottom: 15px; }
.upcoming-tertiary .upcoming-date { margin-bottom: 20px; }

@media (max-width: 1300px) {
	.upcoming .table-grid-item-fixed { width: 100px; }
	.upcoming img { width: 100%; }
}

@media (max-width: 767px) {
	.upcoming a { height: auto !important; padding: 22px 20px 18px; }
	.upcoming .upcoming-title { font-size: 18px; }
	.upcoming .upcoming-entry { font-size: 11px; }
	.upcoming .upcoming-date { font-size: 21px; }
}

/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */

.widgets { list-style: none outside none; }

/* widget nav */
.widget-nav { font-size: 14px; color: #aaa; font-weight: bold; text-transform: uppercase; letter-spacing: .1em; }
.widget-nav ul { list-style: none outside none; }
.widget-nav li { padding-bottom: 4px; }
.widget-nav a:hover,
.widget-nav .current a { color: #eb2d2c; text-decoration: none; }
.widget-nav i { margin-left: 5px; }

@media (max-width: 1023px) {
	.widget-nav { text-align: center; }
	.widget-nav li { padding-bottom: 0; display: none; }
	.widget-nav .current { display: block; }
	.widget-nav a { display: block; padding: 9px 0; }
	.widget-nav .current a:after { content: ''; display: inline-block; vertical-align: middle; background-image: url(images/sprite.png); background-position: -251px -60px; width: 9px; height: 6px; margin-left: 5px; }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.widget-nav .current a:after { background-image: url(images/sprite.@2x.png); background-position: -110px -72px; background-size: 144px 94px; }
}
.nav-utilities a.current-page {
    color: #eb2d2c;
    opacity: 1;
}

/* ------------------------------------------------------------ *\
	Breadcrumbs
\* ------------------------------------------------------------ */

.breadcrumb {
	position: fixed;
	margin-bottom: 50px !important;
    top: 115px;
    z-index: 1000;
    width: 100%;
    left: 0;
    background-color: black;
    color: #e91312;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.breadcrumb a {
	color: white;
}

/* ------------------------------------------------------------ *\
	Listing Detail
\* ------------------------------------------------------------ */
.listing-detail-page h3 {
	padding-bottom: 20px;
	font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
.listing-detail-page h4 {
	padding-bottom: 30px;
    text-transform: uppercase;
}
.listing-detail-page .panel-heading .btn {
	padding: 5px;
    font-size: 14px;
    border-radius: 0;
}
.listing-detail-page .panel-heading .btn .caret{
	margin-left: 30px;
}
.listing-detail-page .btn-success {
	padding: 10px 0;
	text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.listing-detail-page .current-price-label {
	text-transform: uppercase;
}
.listing-detail-page .bid-disclaimer {
	padding-bottom: 50px;
	color: #b6b6b6;
}
.listing-detail-page .awe-action-table .input-group {
	width: 100%;
}
.listing-detail-page .awe-action-table .submit-bid-row td {
	padding: 20px 0;
}
.listing-detail-page .awe-action-table .submit-bid-row .remaining-time-label {
	font-style: normal;
}
.listing-detail-page .awe-action-table .submit-bid-row .remaining-time {
	font-style: normal;
	color: #e91312;
}
.lb-outerContainer {
    min-width: 500px;
}
.lightbox .lb-image {
    width: 100% !important;
    height: auto !important;
}
@media (max-width: 991px) {
	.listing-detail-page h3 {
		padding-bottom: 10px;
		font-size: 22px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.listing-detail-page h4 {
		padding-bottom: 20px;
		text-transform: uppercase;
	}
	.lb-outerContainer {
		min-width: 350px;
	}
}